
:root{
  --color-yellow: hsl(47, 88%, 63%);
}


/*reset*/
*{margin: 0; padding: 0;}
*,*::before,*::after{box-sizing: border-box;}
body{min-height: 100dvh;}
input,button,textarea,select{font: inherit;}
p{text-wrap: pretty;}
h1,h2,h3,h4,h5,h6{text-wrap: balance;}
img,video,svg{height: auto; max-width: 100%; display: block;}
@media(prefers-reduced-motion: reduce) {
    *,*::before,*::after{
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}

/* Card */

body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(47, 88%, 63%);
}


.card{
  /* le decimos que no sobrepase 384px */
  max-width: 384px;
  width: 100%;
  background-color: hsl(0, 0%, 100%);
  padding: 24px;
  border-radius: 20px;
  border: 1px solid hsl(0, 0%, 7%);
  box-shadow: 8px 8px 0 0 hsl(0, 0%, 7%);
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.card__img{
  border-radius: 10px;
}

.card__content{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card__content-tag{
  display: block;
  background-color: hsl(47, 88%, 63%);
  width: 82px;
  padding-inline: 12px;
  padding-block: 4px;
  border-radius: 4px;

  font-size: 14px;
  line-height: 150%;
  color: hsl(0, 0%, 7%);
  font-weight: bold;
  text-align: center;
}

.card__content-date{
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  line-height: 150%;
  color: hsl(0, 0%, 7%);
}

.card__content-title{
  font-size: 24px;
  line-height: 150%;
  font-weight: 800;
  color: hsl(0, 0%, 7%);
}

.card__content-body{
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
  color: hsl(0, 0%, 50%);
}

.card__footer{
  display: flex;
  align-items: center;
  gap: 12px;
}
/* imagen diferente 
.card__footer-avatar{
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
}*/

.card__footer-avatar{
  width: 32px;
  height: 32px;
}

.card__footer-text{
  font-size: 14px;
  font-weight: bold;
  line-height: 150%;
  color: hsl(0, 0%, 7%);
}

.card:hover{
  box-shadow: 16px 16px 0 0 hsl(0, 0%, 7%);
  
}

.card__content-title:hover{
  color: hsl(47, 88%, 63%);
}
