.astro--container {
    border: solid 2px blueviolet;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    padding: 10px;
    background-color: darkslateblue;
    max-width: 250px;
    justify-self: center;
}