*{
  margin:0;
  padding: 0;
}

ul{
  list-style: none;
}

li{
  display: inline;
  margin-right: 10px;
}

a{
  text-decoration:none ;
  color: magenta;
  font-weight: bold;
}

header{
  border-bottom: 2px solid black;
  padding: 20px;
}

main{
  padding: 20px;
}

section{
  margin-bottom: 10px;
}

a:hover{
  background-color: blue;
  color: white;
}

p{
  text-align: justify;
}

